@model IEnumerable<PL.Models.StudentViewModel>
@{
    ViewBag.Title = "GroupDetails";
}

<h2>GroupDetails</h2>

<h3>Список групи @ViewBag.groupName:</h3>

<table class="table">
    <tr>
        <td><p>Ім'я студента</p></td>
        <td><p>Середній бал</p></td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <p>@item.Name</p>
            </td>
            <td>
                <p>@item.StudentAvg</p>
            </td>
        </tr>
    }
</table>
<p>@Html.ActionLink("До списку груп", "ShowGroups", "Group")</p>
<p>@Html.ActionLink("На головну", "Index", "Home")</p>



