@model IEnumerable<PL.Models.SubjectViewModel>

@{
    ViewBag.Title = "ShowSubject";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>@Html.ActionLink("Додати новий предмет", "CreateSubject", "Subject")</p>

<table class="table">
    <tr>
        <th><p>Назва предмету</p></th>
        <th><p>Середній бал по предмету</p></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>

        <td>
            <p>@item.Name</p>
        </td>
        <td>
            <p>@item.SubjectAvg</p>
        </td>
        <td>
            @Html.ActionLink("Деталі", "SubjectDetails", "Subject", new { idSubject = item.Id }, null)
        </td>
        <td>
            @Html.ActionLink("Видалити предмет", "DeleteSubject", "Subject", new { idSubject = item.Id }, null)
        </td>
        <td>
            @Html.ActionLink("Редагувати", "EditSubject", "Subject", new { idSubject = item.Id }, null)
        </td>
    </tr>
    }
</table>

<p>@Html.ActionLink("На головну", "Index", "Home")</p>
