@model IEnumerable<PL.Models.SubjectViewModel>

@{
    ViewBag.Title = "ShowSubject";
}

<h2>ShowSubject</h2>
<p>@Html.ActionLink("Додати новий предмет", "CreateSubject", "Subject")</p>

<table class="table">
    <tr>
        <td><p>Назва предмету</p></td>
        <td><p>Середній бал по предмету</p></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                <p>@item.Name</p>
            </td>
            <td>
                <p>@item.SubjectAvg</p>
            </td>
            <td>
                <p>@Html.ActionLink("Деталі", "SubjectDetails", "Subject", new { idSubject = item.Id }, null)</p>
            </td>
            <td>
                @Html.ActionLink("Видалити предмет", "DeleteSubject", "Subject", new { idSubject = item.Id }, null)
            </td>
            <td>
                @Html.ActionLink("Редагувати", "EditSubject", "Subject", new { idSubject = item.Id }, null)
            </td>
        </tr>
    }
</table>

<p>@Html.ActionLink("На головну", "Index", "Home")</p>
