@model PL.Models.EditModels.EditStudentViewModel
@{
    ViewBag.Title = "EditStudent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card m-5">
    <h5 class="card-header text-center">Змінити дані студента @Model.Name</h5>
    <div class="card-body">
        <form class="p-a-1" action="/Student/EditStudent" method="post">
            <div class="form-group">
                <label for="Id"> Id: </label>
                <input class="form-control" name="Id" value="@Model.Id" readonly />
            </div>
            <div class="form-group">
                <label for="Name"> Ім'я: </label>
                <input class="form-control" name="Name" value="@Model.Name" />
            </div>
            <div class="form-group">
                <label for="GroupName"> Назва групи: </label>
                <select id="groups" name="GroupName">
                    <option value="">@Model.GroupName</option>
                    @foreach (var item in ViewBag.groups)
                    {
                        <option>@item.Name</option>
                    }
                </select>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Підтвердити</button>
            </div>
        </form>
    </div>
</div>

<p>@Html.ActionLink("До списку студентів", "ShowStudent", "Student")</p>
<p>@Html.ActionLink("На головну", "Index", "Home")</p>


