@using BLL.DTO
@model Dictionary<PL.Models.StudentViewModel, GroupDTO>

@{
    ViewBag.Title = "ShowStudent";
}

<h2>ShowStudent</h2>
@Html.ActionLink("Додати нового студента", "CreateStudent", "Student")
<table class="table">


    @foreach (var item in Model)
    {
    <tr>

        <td>
            <p>@item.Key.Name</p>
        </td>
        <td>
            <p>@item.Value.Name</p>
        </td>
        <td>
            @Html.ActionLink("Деталі", "StudentDetails", "Student", new { idStudent = item.Key.Id }, null)
        </td>
        <td>
            @Html.ActionLink("Видалити студента", "DeleteStudent", "Student", new { idStudent = item.Key.Id }, null)
        </td>
        <td>
            @Html.ActionLink("Редагувати", "EditStudent", "Student", new { idStudent = item.Key.Id }, null)
        </td>
        <td>
            @Html.ActionLink("Додати новий предмет студенту", "AddSubject", "Student", new { idStudent = item.Key.Id }, null)
        </td>

    </tr>
    }
</table>

