@model IEnumerable<PL.Models.EducationViewModel>

@{
    ViewBag.Title = "StudentDetails";
}

<h2>StudentReport</h2>

<h3>@ViewBag.studentName</h3>
<h3>@ViewBag.studentGroup</h3>
<h3>@ViewBag.studentAvg</h3>

@Html.ActionLink("Додати новий предмет студенту","AddSubject", "Student", new { idStudent = ViewBag.studentId }, null)
<table class="table">
    @foreach (var item in Model)
    {
    <tr>
        <td>
            <p>@item.SubjectName</p>
        </td>
        <td>
            <p>@item.SubjectResult</p>
        </td>
        <td>
            @Html.ActionLink("Видалити запис", "DeleteEducation", "Student", new { idEducation = @item.Id }, null)
        </td>
        <td>
            @Html.ActionLink("Редагувати запис", "EditEducation", "Student", new { idEducation = @item.Id }, null)
        </td>
    </tr>
    }
</table>


