@using BLL.DTO
@model Dictionary<PL.Models.StudentViewModel, GroupDTO>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<li>@Html.ActionLink("Відобразити студентів", "ShowStudent", "Student")</li>
<li>@Html.ActionLink("Додати нового студента", "CreateStudent", "Student")</li>
<li>@Html.ActionLink("Відобразити всі предмети", "ShowSubject", "Subject")</li>
<li>@Html.ActionLink("Відобразити всі групи", "ShowGroups", "Group")</li>
<li>@Html.ActionLink("Додати нову групу", "CreateGroup", "Group")<li>