@model Dictionary<string,int>

@{
    ViewBag.Title = "ShowStudent";
}

<h2>StudentReportShowStudent</h2>

<h3>@ViewBag.studentName</h3>
<h3>@ViewBag.studentGroup</h3>
<h3>@ViewBag.studentAvg</h3>

<table class="table">


    @foreach (var item in Model)
    {
        <tr>

            <td>
                <p>@item.Key</p>
            </td>
            <td>
                <p>@item.Value</p>
            </td>
        </tr>
    }
</table>
